doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js")
	body
	block content
